// Fonts
$font_heading         : 'Poppins', sans-serif;
$font_text            : 'Roboto', sans-serif;

// Colors 0fb6a6 4f38d6
$color_primary        : #ff4500;
$color_landing        : #665df5;
$color_prestige_blue  : #28282e; 
$color_secondary      : #0fb6a6;
$color_light_grey     : #F9F9F9;
$color_light_blue     : #fcfbff;
$body_text            : #6D7077;
$color_dark_text      : #888;
$color_white          : #fff;
$color_dark           : #171718;
$color_dark_2         : #1b1b1b;
$color_like_grey      : #fafafa;
$color_success        : #4caf50;
$color_whatsapp       : #25c482;
$color_danger         : #f27474;
$color_dark_blue      : #06133D;
$color_dark_blue_2    : #131f47;
$color_orange         : #f0932b;
$color_black          : #000;
$color_footer         : #2b2c3e;
$color_bg_grey        : rgba($color_primary,0.06);
$color_primary_light  : #edeffe;
$color_grey_landing   : #f9f8fd;
$color_soft_grey      : #e0e0e0;
$color_footer_link    : #dee2e6;
$color_grey_secondary : #eee;

// Transition
$trs_linear           : all 0.25s linear;

// Options Color
$op_color_default     : #ff4500;
$op_color_orange      : #ff7500;
$op_color_orange_2    : #ff793f;
$op_color_blue        : #0652DD;
$op_color_blue_2      : #2e86de;
$op_color_red         : #ff3f34;
$op_color_yellow      : #F79F1F;
$op_color_green       : #6ab04c;
$op_color_pink        : #FC427B;
$op_color_turquose    : #01a3a4;
$op_color_purple      : #B33771;
$op_color_magenta     : #6F1E51;